<div class="container">
    <div class="div1"> 
        <img class="radius" src="assets/images/user.jpg" alt="Avatar" style="width:200px">
        <div class="div2"> 
            <span class="font"> Angel Rey </span>
        </div>
        <a href="https://github.com/Angel-Rey11"> <img class="img1" src="assets/images/git.png"> </a>
        <a href="https://www.linkedin.com/in/angel-rey-gamiz-85634b222/"> <img class="img2" src="assets/images/Linkedin.png"> </a>
    </div>
    <div class="div3">
        <p class="font"> {{ "Desc" | translate}}<br> 
            </p>
        <p class="about"> {{ "Desc2" | translate}} </p>
        <img class="img3" src="assets/images/angular.png">
        <img class="img3" src="assets/images/html.png">
        <img class="img3" src="assets/images/css.png">
    </div>
</div>
