@import "@angular/material/theming";
@include mat-core();

.light-mode {
  .form-control {
    background-color: rgb(187, 169, 145) !important;
  }

  background-color: rgb(243, 229, 212);

  nav{
    background-color: rgb(187, 169, 145) !important;
    .nav-item {
      background-color:  rgb(187, 169, 145) !important;
      .dropdown-menu {
        background-color:  rgb(187, 169, 145) !important;
        .dropdown-item {
          background-color:  rgb(187, 169, 145) !important;
        }
        li {
          background-color:  rgb(187, 169, 145) !important;
        }
      }
    }
  }
  .modal {
    .modal-dialog {
      background-color: rgb(187, 169, 145) !important;
      .modal-content {
        background-color: rgb(187, 169, 145) !important;
        .modal-header {
          background-color: rgb(187, 169, 145) !important;
        }
      }
    }
   
  }
}



.dark-mode {
  .div1 {
    background-color: rgb(124, 116, 116) !important;
  }

  .div3 {
    background-color: rgb(124, 116, 116) !important;
  }

  .form-control {
    background-color: #333 !important;
    color: white !important;
    &input:focus {
      color: white !important;
    }
    &input::placeholder {
      color: white !important;
    }
  }

  background-color: #333 !important;
  color: whitesmoke;

  li{
    background-color: #333;
    color: white;
  }
  nav{
    background-color: rgb(124, 116, 116) !important;
    .navbar-brand{
      color:white;
    }

      .nav-link{
        color:white !important;
        background-color:  rgb(124, 116, 116) !important;
      }
      .nav-item {
        background-color:  rgb(124, 116, 116) !important;
        .dropdown-menu {
          background-color:  rgb(124, 116, 116) !important;
          .dropdown-item {
            background-color:  rgb(124, 116, 116) !important;
            color:white;
          }
          li {
            background-color:  rgb(124, 116, 116) !important;
          }
        }
      }
    .navbar-toggler-icon{
      filter: invert(99%) sepia(1%) saturate(4214%) hue-rotate(223deg) brightness(118%) contrast(100%);
    }
  }

  .modal {
    .modal-dialog {
      background-color:  rgb(124, 116, 116) !important;
      .modal-content {
        background-color: rgb(124, 116, 116) !important;
        .modal-header {
          background-color:  rgb(124, 116, 116) !important;
        }
      }
    }
   
  }
}

.dar {
  margin-left: 95%;
}

#credential_picker_container {
  display: none !important;
}/* You can add global styles to this file, and also import other style files */
asl-google-signin-button div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align:center;
}


#credential_picker_iframe {
  display: none !important;
}